
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: #ecebe9;
}
header {
    background-color: #d9d9d9;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 0 15px;

}

.nav-item a {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

.nav-item a:hover {
    color: white;
    font-weight: bold;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.nav-logo img {
    height: 40px;
}

.nav-carrinho {
    display: flex;
    align-items: center;
}

.nav-carrinho img {
    height: 25px;
}

.nav-carrinho #nav-perfil {
    margin: 0 30px;
}



